In [1]:
from census import Census
from us import states
import pandas as pd
import censusdata
from bls_datasets import qcew

In [ ]:
# Look for OH fips code
print(states.OH.fips)

In [ ]:
# Getting list of counties as index from function censusgeo as geo format
counties = censusdata.geographies(censusdata.censusgeo([('state', '39'), ('county', '*')]), 'acs5', 2015)

In [ ]:
# Function to search tables with x word eather on their label or concept
censusdata.search('acs1', 2014, 'label', 'area') # 'label' 'concept'

In [ ]:
# Detailed list by table
censusdata.variable_info.censustable('acs5', 2014, 'B20002')

In [ ]:
# Detailed list variables by
censusdata.printtable(censusdata.censustable('acs5', 2014, 'B20002'))

In [3]:
def query(i, j, features):
    """
    i == year
    j == List of elements to subset
    features = list of variables to pull out and add up to generate a single column called total
    """
    df = censusdata.download('acs5', i, censusdata.censusgeo(j), features)
    data = pd.DataFrame(columns = ['total'])
    data['total'] = df.sum(axis = 1, skipna = True)
    return(data)

def by_area(i, area, features):
    """
    i == year
    area == 'county' or 'state'
    Features == list of columns codes
    """
    subsets = list([[('state', '39'),('county', '*')], [('state', '39')]])
    if (area == 'county'):
            j = subsets[0]
            data = query(i, j, features)
            return(data)
    if (area == 'state'):
            j = subsets[1]
            data1 = query(i, j, features)
            data = pd.DataFrame(data = {'total':[data1['total'][0]]}, 
                                index = ['39000'])
            return(data)
    else:
            return('chose between county or state')

In [4]:
for i in (2013, 2014, 2015, 2016, 2017):
# Total population
    features = ['B01003_001E']
        # County
    tot_pop_cnty = by_area(i, 'county', features)
    tot_pop_cnty.rename(columns={'total':'tot_pop'}, inplace=True)
        # State
    tot_pop_state = by_area(i, 'state', features)
    tot_pop_state.rename(columns={'total':'tot_pop'}, inplace=True)   
# Population less than 18 years
    features = ['B01001_003E', 
            'B01001_004E', 
            'B01001_005E', 
            'B01001_006E', 
            'B01001_027E', 
            'B01001_028E', 
            'B01001_029E', 
            'B01001_030E']
        # County
    pop_less_18_cnty = by_area(i, 'county', features)
    pop_less_18_cnty.rename(columns={'total':'age_17'}, inplace=True)
        # State
    pop_less_18_state = by_area(i, 'state', features)
    pop_less_18_state.rename(columns={'total':'age_17'}, inplace=True)
# Population between 18 and 64 years, both included
    features =     ['B01001_007E', 
                    'B01001_008E', 
                    'B01001_009E', 
                    'B01001_010E', 
                    'B01001_011E',
                    'B01001_012E', 
                    'B01001_013E', 
                    'B01001_014E',
                    'B01001_015E',
                    'B01001_016E',
                    'B01001_017E',
                    'B01001_018E',
                    'B01001_019E',
                    'B01001_031E',
                    'B01001_032E',
                    'B01001_033E',
                    'B01001_034E',
                    'B01001_035E',
                    'B01001_036E',
                    'B01001_037E',
                    'B01001_038E',
                    'B01001_039E',
                    'B01001_040E',
                    'B01001_041E',
                    'B01001_042E',
                    'B01001_043E']
        # County
    pop_btw_18_64_cnty = by_area(i, 'county', features)
    pop_btw_18_64_cnty.rename(columns={'total':'age_18_64'}, inplace=True)
        # State
    pop_btw_18_64_state = by_area(i, 'state', features)
    pop_btw_18_64_state.rename(columns={'total':'age_18_64'}, inplace=True)   
# Population older than 64 years
    features = ['B01001_020E', 
                'B01001_021E', 
                'B01001_022E', 
                'B01001_023E', 
                'B01001_024E',
                'B01001_025E', 
                'B01001_044E', 
                'B01001_045E',
                'B01001_046E',
                'B01001_047E',
                'B01001_048E',
                'B01001_049E']
        # County
    pop_more_64_cnty = by_area(i, 'county', features)
    pop_more_64_cnty.rename(columns={'total':'age_65'}, inplace=True)
        # State
    pop_more_64_state = by_area(i, 'state', features)
    pop_more_64_state.rename(columns={'total':'age_65'}, inplace=True)
# Male
    features = ['B01001_002E']
        # County
    male_cnty = by_area(i, 'county', features)
    male_cnty.rename(columns={'total':'male'}, inplace=True)
        # State
    male_state = by_area(i, 'state', features)
    male_state.rename(columns={'total':'male'}, inplace=True)        
# Female
    features = ['B01001_026E']
        # County
    female_cnty = by_area(i, 'county', features)
    female_cnty.rename(columns={'total':'female'}, inplace=True)
        # State
    female_state = by_area(i, 'state', features)
    female_state.rename(columns={'total':'female'}, inplace=True)        
# White
    features = ['B02001_002E']
        # County
    white_cnty = by_area(i, 'county', features)
    white_cnty.rename(columns={'total':'white'}, inplace=True)
        # State
    white_state = by_area(i, 'state', features)
    white_state.rename(columns={'total':'white'}, inplace=True)        
# Black
    features = ['B02001_003E']
        # County
    black_cnty = by_area(i, 'county', features)
    black_cnty.rename(columns={'total':'black'}, inplace=True)
        # State
    black_state = by_area(i, 'state', features)
    black_state.rename(columns={'total':'black'}, inplace=True)   
# Hispanic
    features = ['B03002_012E']
        # County
    hispanic_cnty = by_area(i, 'county', features)
    hispanic_cnty.rename(columns={'total':'hispanic'}, inplace=True)
        # State
    hispanic_state = by_area(i, 'state', features)
    hispanic_state.rename(columns={'total':'hispanic'}, inplace=True)   
# Not hispanic
    features = ['B03002_002E']
        # County
    not_hispanic_cnty = by_area(i, 'county', features)
    not_hispanic_cnty.rename(columns={'total':'not_hispanic'}, inplace=True)
        # State
    not_hispanic_state = by_area(i, 'state', features)
    not_hispanic_state.rename(columns={'total':'not_hispanic'}, inplace=True)  
# Poverty
    features = ['B14006_002E']
        # County
    poverty_cnty = by_area(i, 'county', features)
    poverty_cnty.rename(columns={'total':'num_poverty'}, inplace=True)
        # State
    poverty_state = by_area(i, 'state', features)
    poverty_state.rename(columns={'total':'num_poverty'}, inplace=True) 
# Civilian labor force
    features = ['B23001_006E',
                'B23001_013E',
                'B23001_020E',
                'B23001_027E',
                'B23001_034E',
                'B23001_041E',
                'B23001_048E',
                'B23001_055E',
                'B23001_062E',
                'B23001_069E',
                'B23001_074E',
                'B23001_079E',
                'B23001_084E',
                'B23001_092E',
                'B23001_099E',
                'B23001_106E',
                'B23001_113E',
                'B23001_120E',
                'B23001_127E',
                'B23001_134E',
                'B23001_141E',
                'B23001_148E',
                'B23001_155E',
                'B23001_160E',
                'B23001_165E',
                'B23001_170E']
        # County
    civ_labor_force_cnty = by_area(i, 'county', features)
    civ_labor_force_cnty.rename(columns={'total':'civ_labor_force'}, inplace=True)
        # State
    civ_labor_force_state = by_area(i, 'state', features)
    civ_labor_force_state.rename(columns={'total':'civ_labor_force'}, inplace=True) 
# Total civilian employment
    features = ['B23001_007E',
                'B23001_014E',
                'B23001_021E',
                'B23001_028E',
                'B23001_035E',
                'B23001_042E',
                'B23001_049E',
                'B23001_056E',
                'B23001_063E',
                'B23001_070E',
                'B23001_075E',
                'B23001_080E',
                'B23001_085E',
                'B23001_093E',
                'B23001_100E',
                'B23001_107E',
                'B23001_114E',
                'B23001_121E',
                'B23001_128E',
                'B23001_135E',
                'B23001_142E',
                'B23001_149E',
                'B23001_156E',
                'B23001_161E',
                'B23001_166E',
                'B23001_171E']
        # County
    employment_cnty = by_area(i, 'county', features)
    employment_cnty.rename(columns={'total':'employment'}, inplace=True)
        # State
    employment_state = by_area(i, 'state', features)
    employment_state.rename(columns={'total':'employment'}, inplace=True)
# Total civilian unemployment
    features = ['B23001_008E',
                'B23001_015E',
                'B23001_022E',
                'B23001_029E',
                'B23001_036E',
                'B23001_043E',
                'B23001_050E',
                'B23001_057E',
                'B23001_064E',
                'B23001_071E',
                'B23001_076E',
                'B23001_081E',
                'B23001_086E',
                'B23001_094E',
                'B23001_101E',
                'B23001_108E',
                'B23001_115E',
                'B23001_122E',
                'B23001_129E',
                'B23001_136E',
                'B23001_143E',
                'B23001_150E',
                'B23001_157E',
                'B23001_162E',
                'B23001_167E',
                'B23001_172E']
        # County
    unemployment_cnty = by_area(i, 'county', features)
    unemployment_cnty.rename(columns={'total':'unemployment'}, inplace=True)
        # State
    unemployment_state = by_area(i, 'state', features)
    unemployment_state.rename(columns={'total':'unemployment'}, inplace=True)
# Concatenating all features created by county
    df = pd.concat([tot_pop_cnty, 
                   pop_less_18_cnty, 
                   pop_btw_18_64_cnty, 
                   pop_more_64_cnty, 
                   male_cnty, 
                   female_cnty,
                   white_cnty,
                   black_cnty,
                   hispanic_cnty,
                   not_hispanic_cnty,
                   civ_labor_force_cnty,
                   employment_cnty,
                   unemployment_cnty,
                   poverty_cnty], axis=1)
# Code to get county name from index and index as fips county code 
# Source: https://towardsdatascience.com/mapping-us-census-data-with-python-607df3de4b9c
    new_indices = []
    county_names = []
    for index in df.index.tolist():
            new_index = index.geo[0][1] + index.geo[1][1]
            new_indices.append(new_index)
            county_name = index.name.split(',')[0]
            county_names.append(county_name)
    df.index = new_indices
    df['county_name'] = county_names
# Code to get total state numbers 
    oh = pd.concat([tot_pop_state, 
                   pop_less_18_state, 
                   pop_btw_18_64_state, 
                   pop_more_64_state, 
                   male_state, 
                   female_state,
                   white_state,
                   black_state,
                   hispanic_state,
                   not_hispanic_state,
                   civ_labor_force_state,
                   employment_state,
                   unemployment_state,
                   poverty_state], axis=1)
    oh['county_name'] = 'Ohio'
# Data including total OH
    df = pd.concat([df, oh], axis=0)
# year
    df['year'] = i
# Other races
    df['other'] = df['tot_pop']-(df['black']+df['white'])
# Loop to leave ann_avg_emply and ann_avg_pay empty during 2013 because the package bls_datasets, qcew starts in 2014
    if (i==2013):
        ## There is not qcew data for 2013/ filled with ""
        df['ann_avg_emply'] = ""
        df['ann_avg_pay'] = ""
        exec('data_' + '{} = df'.format(i))
    else:
        df_qcew = qcew.get_data('industry', rtype='dataframe', year=str(i), qtr='A', industry='10')
        total_covered = df_qcew[df_qcew['own_code']==0]
        total_covered_oh = total_covered[total_covered['area_fips'].str.startswith('39')==True]
        total_covered_oh = total_covered_oh.loc[:,('area_fips', 'annual_avg_emplvl','avg_annual_pay')]
        total_covered_oh.rename(columns={'annual_avg_emplvl':'ann_avg_emply','avg_annual_pay':'ann_avg_pay'}, inplace=True)
        total_covered_oh = total_covered_oh.set_index('area_fips')
        df = df.merge(total_covered_oh, left_index=True, right_index=True)
        exec('data_' + '{} = df'.format(i))
# Concatenate all dataframes
final_df = pd.concat([data_2013, data_2014, data_2015, data_2016, data_2017], axis=0)
# Create extra features
final_df['unemply_rate'] = round(final_df['unemployment']/final_df['civ_labor_force']*100, 1)
final_df['perc_poverty'] = round(final_df['num_poverty']/final_df['tot_pop']*100, 1)
final_df.index.name = 'fips_code'

In [5]:
final_df[final_df['county_name']=='Ohio']

,tot_pop,age_17,age_18_64,age_65,male,female,white,black,hispanic,not_hispanic,...,employment,unemployment,num_poverty,county_name,year,other,ann_avg_emply,ann_avg_pay,unemply_rate,perc_poverty
fips_code,,,,,,,,,,,,,,,,,,,,,
39000,11549590,2695816,7187128,1666646,5642666,5906924,9569431,1402897,367394,11182196,...,5266386,582953,1657113,Ohio,2013,577262,,,10.0,14.3
39000,11560380,2673661,7182120,1704599,5651577,5908803,9549343,1407493,379542,11180838,...,5303013,536573,1675482,Ohio,2014,603544,5183462,46000,9.2,14.5
39000,11575977,2656019,7172677,1747281,5662893,5913084,9538328,1412045,390970,11185007,...,5366673,477251,1663337,Ohio,2015,625604,5257971,47146,8.2,14.4
39000,11586941,2639860,7150744,1796337,5673893,5913048,9519506,1421943,400932,11186009,...,5425647,423956,1624803,Ohio,2016,645492,5319679,47700,7.2,14.0
39000,11609756,2627168,7137946,1844642,5686081,5923675,9503779,1428230,414490,11195266,...,5488180,378735,1578334,Ohio,2017,677747,5364626,49153,6.5,13.6

In [ ]:
col = ['county_name', 'year', 'tot_pop', 'age_17', 'age_18_64', 'age_65', 'male', 'female', 'white',
       'black', 'other', 'hispanic', 'not_hispanic', 'civ_labor_force', 'employment',
       'unemployment', 'unemply_rate', 'ann_avg_emply', 'ann_avg_pay', 'num_poverty','perc_poverty']
final_df = final_df[col]

In [ ]:
final_df.to_csv(r'~OHCountyData.csv', index = True)